@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="card shadow mb-4">
        <div class="card-body">
            <div id="slide3">
                <h1>content for slide three</h1>
            </div>
        </div>
    </div>